################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HowToTestvoidMethod/bin/Debug/net8.0
/HowToTestvoidMethod/obj
/API.Tests/bin/Debug/net8.0
/API.Tests/obj
/HowToTestvoidMethod/.vs/HowToTestvoidMethod
